version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 10
    assignees:
      - 'dependabot'
    commit-message:
      prefix: 'chore'
      include: 'scope'
    groups:
      react-core:
        patterns:
          - 'react'
          - 'react-dom'
        update-types:
          - 'minor'
          - 'patch'
